{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Создать новую статью {% endblock %}</h1>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Заголовок</label>
                <input type="text" name="title"
                       placeholder="Заголовок статьи" class="form-control"
                       value="{{ request.form['title'] }}">
    </div>

    <div class="form-group">
        <label for="content">Текст статьи</label>
                <textarea name="content" placeholder="Текст статьи"
                          class="form-control">
                    {{ request.form['content'] }}
                </textarea>
    </div>

    <div class="form-group">
        <label for="image">Картинка статьи</label>
        <input class="form-control-file" type="file" name="image"
               value="{{ request.files['image'] }}">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>
</form>
{% endblock %}